/* oxygen-mono-regular - latin */
@font-face {
    font-family:'Oxygen Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Mono'), local('OxygenMono-Regular'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff2') format('woff2'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff') format('woff'); 
}
  
body {
    font-family: 'Oxygen Mono';
    background-color: #282626;
    color: white;
    margin-top: 100px;
}