/* oxygen-mono-regular - latin */
@font-face {
    font-family:'Oxygen Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Mono'), local('OxygenMono-Regular'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff2') format('woff2'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff') format('woff'); 
}
  
body {
    font-family: 'Oxygen Mono';
    background-color: #282626;
    color: white;
    margin-top: 100px;
}

.welcome{
    text-align: center;
    font-size: 120%;
}

.columns{
    text-align: center;
}

#panel1, #panel2, #panel3 {
    display: inline-block;
    padding: 0px 80px;
    line-height:200%
}

ul {
    list-style: none;
    padding: 0;
}

#tbody1_1:hover, #tbody1_2:hover,
#tbody1_3:hover, #tbody2_1:hover,
#tbody2_2:hover, #tbody2_3:hover,
#tbody3_1:hover, #tbody3_2:hover,
#tbody3_3:hover{
    transform: scale(1.33);
}

footer{
    position: fixed;
    left: 50%;
    bottom: 0;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(105, 105, 105);
}

.o-hide{
    opacity: 0;
    transition: all ease 5s;
}
.o-hide:hover{
    opacity: 1;
}