header {
    text-align: right;
    top: 0;
}
footer{
    position: fixed;
    left: 50%;
    bottom: 0;
}

th,
td {
    padding: 10px;
}

table {
    width: 40%;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(105, 105, 105);
}
.o-hide{
    opacity: 0;
    transition: all ease 0.05s;
}
.o-hide:hover{
    opacity: 1;
}

/* tBody Start*/
.tbody1:hover{transform: scale(1.5)}
.tbody2:hover{transform: scale(1.5)}
.tbody3:hover{transform: scale(1.5)}
.tbody4:hover{transform: scale(1.5)}
.tbody5:hover{transform: scale(1.5)}
.tbody6:hover{transform: scale(1.5)}
.tbody7:hover{transform: scale(1.5)}
.tbody8:hover{transform: scale(1.5)}
.tbody9:hover{transform: scale(1.5)}
/* tBody End */
