/* oxygen-mono-regular - latin */
@font-face {
    font-family:'Oxygen Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Mono'), local('OxygenMono-Regular'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff2') format('woff2'),
         url('fonts/oxygen mono/oxygen-mono-v7-latin-regular.woff') format('woff'); 
}
  
body {
    font-family: 'Oxygen Mono';
    background-color: #282626;
    color: white;
    text-align: center;
    margin-top: 100px;
    
}

th,
td {
    padding: 10px;
}
/* unvisited link */
#song1_1 a:link, #song1_2 a:link, #song1_3 a:link, #song1_4 a:link, #song1_5 a:link, #song1_6 a:link, #song1_7 a:link, #song1_8 a:link, #song1_9 a:link,
#song4_1 a:link, #song4_2 a:link, #song4_3 a:link, #song4_4 a:link, #song4_5 a:link, #song4_6 a:link, #song4_7 a:link, #song4_8 a:link, #song4_9 a:link,
#song7_1 a:link, #song7_2 a:link, #song7_3 a:link, #song7_4 a:link, #song7_5 a:link, #song7_6 a:link, #song7_7 a:link, #song7_8 a:link, #song7_9 a:link {
    color: #37B0DC;
    text-decoration: none;
}
#song2_1 a:link, #song2_2 a:link, #song2_3 a:link, #song2_4 a:link, #song2_5 a:link, #song2_6 a:link, #song2_7 a:link, #song2_8 a:link, #song2_9 a:link, 
#song5_1 a:link, #song5_2 a:link, #song5_3 a:link, #song5_4 a:link, #song5_5 a:link, #song5_6 a:link, #song5_7 a:link, #song5_8 a:link, #song5_9 a:link, 
#song8_1 a:link, #song8_2 a:link, #song8_3 a:link, #song8_4 a:link, #song8_5 a:link, #song8_6 a:link, #song8_7 a:link, #song8_8 a:link, #song8_9 a:link {
    color: #DC3768;
    text-decoration: none;
}
#song3_1 a:link, #song3_2 a:link, #song3_3 a:link, #song3_4 a:link, #song3_5 a:link, #song3_6 a:link, #song3_7 a:link, #song3_8 a:link, #song3_9 a:link, 
#song6_1 a:link, #song6_2 a:link, #song6_3 a:link, #song6_4 a:link, #song6_5 a:link, #song6_6 a:link, #song6_7 a:link, #song6_8 a:link, #song6_9 a:link, 
#song9_1 a:link, #song9_2 a:link, #song9_3 a:link, #song9_4 a:link, #song9_5 a:link, #song9_6 a:link, #song9_7 a:link, #song9_8 a:link, #song9_9 a:link {
    color: #DCBB37;
    text-decoration: none;
}
/* visited link */
#song1_1 a:visited, #song1_2 a:visited, #song1_3 a:visited, #song1_4 a:visited, #song1_5 a:visited, #song1_6 a:visited, #song1_7 a:visited, #song1_8 a:visited, #song1_9 a:visited,
#song4_1 a:visited, #song4_2 a:visited, #song4_3 a:visited, #song4_4 a:visited, #song4_5 a:visited, #song4_6 a:visited, #song4_7 a:visited, #song4_8 a:visited, #song4_9 a:visited,
#song7_1 a:visited, #song7_2 a:visited, #song7_3 a:visited, #song7_4 a:visited, #song7_5 a:visited, #song7_6 a:visited, #song7_7 a:visited, #song7_8 a:visited, #song7_9 a:visited {
    color: #37B0DC;
    text-decoration: none;
}
#song2_1 a:visited, #song2_2 a:visited, #song2_3 a:visited, #song2_4 a:visited, #song2_5 a:visited, #song2_6 a:visited, #song2_7 a:visited, #song2_8 a:visited, #song2_9 a:visited, 
#song5_1 a:visited, #song5_2 a:visited, #song5_3 a:visited, #song5_4 a:visited, #song5_5 a:visited, #song5_6 a:visited, #song5_7 a:visited, #song5_8 a:visited, #song5_9 a:visited, 
#song8_1 a:visited, #song8_2 a:visited, #song8_3 a:visited, #song8_4 a:visited, #song8_5 a:visited, #song8_6 a:visited, #song8_7 a:visited, #song8_8 a:visited, #song8_9 a:visited {
    color: #DC3768;
    text-decoration: none;
}
#song3_1 a:visited, #song3_2 a:visited, #song3_3 a:visited, #song3_4 a:visited, #song3_5 a:visited, #song3_6 a:visited, #song3_7 a:visited, #song3_8 a:visited, #song3_9 a:visited, 
#song6_1 a:visited, #song6_2 a:visited, #song6_3 a:visited, #song6_4 a:visited, #song6_5 a:visited, #song6_6 a:visited, #song6_7 a:visited, #song6_8 a:visited, #song6_9 a:visited, 
#song9_1 a:visited, #song9_2 a:visited, #song9_3 a:visited, #song9_4 a:visited, #song9_5 a:visited, #song9_6 a:visited, #song9_7 a:visited, #song9_8 a:visited, #song9_9 a:visited {
    color: #DCBB37;
    text-decoration: none;
}
/* General button style (open notes) Start */
.open-button,
.close-button {
    border: none;
    box-sizing: border-box;
    font-family: "Oxygen Mono";
    color: inherit;
    background: none;
    cursor: pointer;
    height: 35px;
    width: 150px;
    margin: 4px 4px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.open-button:after,
.close-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.open-button:before,
.close-button:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Button 1 */
.open-button-1,
.close-button-1 {
    /* border: 3px solid #fff; */
}
.open-button-1f,
.close-button-1f {
    overflow: hidden;
}

.open-button-1f:after,
.close-button-1f:after {
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgb(97, 97, 97);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.open-button-1f:hover,
.open-button-1f:active,
.close-button-1f:hover,
.close-button-1f:active {
    color: #201f1f;
}

.open-button-1f:hover:after,
.close-button-1f:hover:after {
    height: 75%;
    opacity: 1;
}

.open-button-1f:active:after,
.close-button-1f:active:after {
    height: 130%;
    opacity: 1;
}
/* General button style (open notes) End */

.playlist1, .playlist2, .playlist3, .playlist4, .playlist5, 
.playlist6, .playlist7, .playlist8, .playlist9 {
    display: none;
}
