th,
td {
    height: 2px;
    width: 90px;
}

::placeholder{
    opacity: 1;
    font-family: "Oxygen Mono";
}

input[type=text], select, textarea{
    width: 300px;
    padding: 8px;
    margin: 6px;
    box-sizing: border-box;
    border: none;
    background-color: white;
    text-align: left;
    font-family: "Oxygen Mono";
}

input[type=text]:hover,textarea:hover{
    background-color: rgb(165, 165, 165);
}

button[class="editRow"], button[class="deleteRow"] {
    background-color: #282626;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Oxygen Mono";
    padding: 8px;
}

button[class="editRow"]:hover,
button[class="deleteRow"]:hover {
    background-color: #3b3a3a;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
}

